:root {
    --side: 70px;
    --rotation-angle: -45deg;
}

.heart {
    width: var(--side);
    height: var(--side);
    background-color: #961d1d;

    position: fixed;
    top: 50%;
    left: 50%;

    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        transform: rotate(var(--rotation-angle)) scale(1);
    }
    10% {
        transform: rotate(var(--rotation-angle)) scale(1.1);
    }
    20% {
        transform:  rotate(var(--rotation-angle)) scale(0.9);
    }
    30% {
        transform:  rotate(var(--rotation-angle)) scale(1.2);
    }
    40% {
        transform:  rotate(var(--rotation-angle)) scale(0.9);
    }
    50% {
        transform:  rotate(var(--rotation-angle)) scale(1.05);
    }
    60% {
        transform:  rotate(var(--rotation-angle)) scale(0.95);
    }
    100% {
        transform:  rotate(var(--rotation-angle)) scale(1);
    }
}

.heart::before {
    content: '';

    width: var(--side);
    height: var(--side);
    border-radius: 50%;

    position: absolute;
    top: -50%;
    background-color: inherit;
}

.heart::after {
    content: '';

    width: var(--side);
    height: var(--side);
    border-radius: 50%;

    position: absolute;
    left: 50%;
    background-color: inherit;
}
